<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConn"
			 connectionString="server=localhost;user id=root;password=YOURPASSWORD;database=taskdb;SslMode=none;AllowPublicKeyRetrieval=True;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
